
<div class="circular-image">
    <img [src]="urlDeLaImagen" alt="Imagen" class="rounded-image" />
</div>

<form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Nombre y Apellidos</mat-label>
        <input matInput disabled value="Laura Daniela Chiquillo Leon" [disabled]="inputDeshabilitado">
    </mat-form-field>
    
    <mat-form-field class="">
        <mat-label>Tipo de documento</mat-label>
        <input matInput disabled value="C.C" [disabled]="inputDeshabilitado">
    </mat-form-field>
    
    <mat-form-field class="">
        <mat-label>Numero de documento</mat-label>
        <input matInput disabled value="Laura Daniela Chiquillo Leon" [disabled]="inputDeshabilitado">
    </mat-form-field>

    <mat-form-field class="">
        <mat-label>Correo</mat-label>
        <input matInput disabled value="Laura Daniela Chiquillo Leon" [disabled]="inputDeshabilitado">
    </mat-form-field>

    <mat-form-field class="">
        <mat-label>Contraseña</mat-label>
        <input matInput disabled value="Laura Daniela Chiquillo Leon" [disabled]="inputDeshabilitado">
    </mat-form-field>

    <mat-form-field class="">
        <mat-label>Tipo de posgrado</mat-label>
        <input matInput disabled value="Laura Daniela Chiquillo Leon" [disabled]="inputDeshabilitado">
    </mat-form-field>

    <mat-form-field class="">
        <mat-label>Titulo</mat-label>
        <input matInput disabled value="Laura Daniela Chiquillo Leon" [disabled]="inputDeshabilitado">
    </mat-form-field>

    <mat-form-field class="">
        <mat-label>Fecha</mat-label>
        <input matInput disabled value="Laura Daniela Chiquillo Leon" [disabled]="inputDeshabilitado">
    </mat-form-field>

    <mat-form-field class="">
        <mat-label>Lugar</mat-label>
        <input matInput disabled value="Laura Daniela Chiquillo Leon" [disabled]="inputDeshabilitado">
    </mat-form-field>

    <mat-form-field class="">
        <mat-label>Tipo pregrado</mat-label>
        <input matInput disabled value="Laura Daniela Chiquillo Leon" [disabled]="inputDeshabilitado">
    </mat-form-field>

    <mat-form-field class="">
        <mat-label>IES</mat-label>
        <input matInput disabled value="Universidad El Bosque" [disabled]="inputDeshabilitado">
    </mat-form-field>

    <div class="activarInput">
        <button class="boton-estilizado" (click)="activarInput()">Activar Input</button>
        <button class="boton-estilizado" (click)="desactivarInput()">Desactivar Input</button>
      </div>
       
  </form>
