.tabs {
  position: absolute; 
  top: 100px; 
  left: 160px;  
  width: 80%;
  height: 60%;
}
.mat-tab-group {
    background-color: lightblue !important;
    margin-bottom: 48px;
}
table {
    width: 100%;
}

.titulo{
    display: flex;
    justify-content: space-evenly; /* Distribuye los elementos a lo largo del contenedor */
    margin-top: 60px;
  }
  
  .titulo2{
    display: flex;
    justify-content: space-evenly; /* Distribuye los elementos a lo largo del contenedor */
    margin-top: 5px;
  }
    
  
  .mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }
  .reg {
    display: flex;
    justify-content: center;
    margin-left: 70px;
  }
  
  .form-field-spacing {
    margin-right: 30px; /* Ajusta este valor según el espacio deseado entre los mat-form-field */
  }
  .example-chip-list {
    width: 100%;
  }
  .titulo3 {
    display: flex;
    justify-content: space-evenly;
    
  }
  .resumenArt {
    display: flex;
    flex-direction: column; /* Asegúrate de que el contenido fluya verticalmente */
    margin-top: 5px;
    margin-left: 200px; /* Ajusta este valor según sea necesario */
  }
  
  .resumenArt mat-form-field {
    max-width: 600px; /* Agrega esta línea para establecer el ancho máximo */
  }
  
  .resumenArt mat-form-field input {
    height: 100px; /* Ajusta la altura según sea necesario */
    white-space: pre-wrap;
    overflow-wrap: break-word; /* Utiliza overflow-wrap en lugar de word-wrap */
    overflow-y: auto; /* Permite desplazamiento vertical cuando sea necesario */
  }
  
  .anchoGuardar{
    width: 150px;
  }
  .mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }
  
.example-chip-list {
  width: 250px; /* Establece la anchura deseada */
}


@media (max-width: 600px) {
  .tabs {
    position: static; /* Cambiar a posición estática para que fluya según el documento */
    width: 100%; /* Ajustar el ancho al 100% */
    top: auto; /* Eliminar la posición superior */
    left: auto; /* Eliminar la posición izquierda */
    text-align: left; /* Alinear a la izquierda */
    margin-top: 80px; /* Agregar margen superior */
  }
  .vertical-tabs {
    width: 100%; /* Reducir el ancho al 80% en pantallas más pequeñas */
    margin-top: 10px; /* Ajustar margen superior según sea necesario */
  }
  .mat-tab-group {
    width: 100%; /* Ajustar el ancho al 100% */
    margin: 0; /* Eliminar el margen */
  }

  table {
    width: 100%; /* Ajustar el ancho al 100% */
  }

  .titulo, .titulo2, .titulo3 {
    display: flex;
    justify-content: space-evenly; /* Distribuye los elementos a lo largo del contenedor */
    margin-top: 5px; /* Ajustar el margen superior según sea necesario */
  }

  .mat-stepper-horizontal {
    margin-top: 8px; /* Ajustar el margen superior según sea necesario */
  }

  .mat-mdc-form-field {
    margin-top: 16px; /* Ajustar el margen superior según sea necesario */
  }

  .reg {
    display: flex;
    justify-content: center; /* Alinear al centro */
    margin-left: 0; /* Eliminar el margen izquierdo */
  }

  .form-field-spacing {
    margin-right: 0; /* Eliminar el margen derecho */
  }

  .example-chip-list {
    width: 100%; /* Ajustar el ancho al 100% */
  }

  .resumenArt {
    display: flex;
    flex-direction: column; /* Asegurarse de que el contenido fluya verticalmente */
    margin-top: 5px; /* Ajustar el margen superior según sea necesario */
    margin-left: 0; /* Eliminar el margen izquierdo */
  }

  .resumenArt mat-form-field {
    max-width: 100%; /* Establecer el ancho máximo al 100% */
  }

  .resumenArt mat-form-field input {
    height: auto; /* Restaurar la altura automática */
    white-space: normal; /* Restaurar el comportamiento normal del espacio en blanco */
    overflow-wrap: normal; /* Restaurar el comportamiento normal de desbordamiento */
    overflow-y: visible; /* Restaurar el desbordamiento visible */
  }

  .anchoGuardar {
    width: 100%; /* Ajustar el ancho al 100% */
  }

  .mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 0; /* Eliminar el margen izquierdo */
  }
  
  .mat-step-content {
    padding: 10px; /* Reducir el relleno del contenido del paso */
  }
  /* lo que esta dentro */

  /* Estilos para los elementos dentro de la pestaña "Proyecto" */
  .titulo,
  .titulo2,
  .percentage-container {
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan en pantallas pequeñas */
    justify-content: space-between; /* Distribuir uniformemente los elementos */
  }

  .percentage-container {
    width: calc(50% - 10px); /* Ajustar el ancho de los contenedores de porcentaje */
    margin-bottom: 10px; /* Agregar un poco de espacio entre los contenedores */
  }

  .titulo p,
  .percentage-container p {
    margin-bottom: 5px; /* Agregar un poco de espacio entre los párrafos */
    font-size: 12px; /* Reducir el tamaño del texto */
  }

  .titulo2 p {
    width: calc(50% - 10px); /* Ajustar el ancho de los elementos de texto */
    font-size: 12px; /* Reducir el tamaño del texto */
  }

  .reg {
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
    justify-content: space-between; /* Distribuir uniformemente los elementos */
    margin-bottom: 10px; /* Agregar un poco de espacio entre los grupos de elementos */
  }

  .form-field-spacing {
    width: calc(50% - 10px); /* Ajustar el ancho de los campos de formulario */
    margin-bottom: 10px; /* Agregar un poco de espacio entre los campos de formulario */
  }

  /* Hacer el contenido 20px más pequeño en todas las direcciones */
  .mat-step-content {
    margin: -10px; /* Hacer el contenido 20px más pequeño en todas las direcciones */
  }

    /* Estilos para hacer los inputs más pequeños */
  .mat-form-field {
    font-size: 12px; /* Reducir el tamaño del texto en los campos de formulario */
    padding: 4px 8px; /* Reducir el padding del campo de formulario */
  }

  .mat-input-element {
    height: 20px; /* Reducir la altura del input */
  }

}
