<div class="body">
    <div class="login">
    <img src="./assets/img/login.png" width="150">
    <h3>Inicio de Sesión</h3>
    <mat-form-field class="ancho" appearance="fill" >
        <mat-label>Usuario</mat-label>
        <input matInput autocomplete="off">
      </mat-form-field>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput autocomplete="off">
      </mat-form-field>
      <br>
      <button  class="ancho button" mat-raised-button color="primary">Ingresar</button>
</div>
</div>

