.custom-input-container {
    margin-bottom: 10px; /* Margen inferior */
}

.custom-input-container label {
    display: block; /* Mostrar como bloque */
    margin-bottom: 5px; /* Margen inferior */
    font-weight: lighter; /* Texto en negrita */
    color: #34495e; /* Color de texto */
}

.custom-input-container input {
    width: 50%; /* Ancho completo */
    padding: 10px; /* Relleno */
    border: 1px solid #bdc3c7; /* Borde con color de borde */
    border-radius: 5px; /* Borde redondeado */
    font-size: 14px; /* Tamaño de fuente */
    transition: border-color 0.3s; /* Transición suave */
}

.custom-input-container input:focus {
    border-color: #007BFF; /* Color del borde al enfocarse */
    outline: none; /* Quitar el contorno por defecto */
}
