<div class="dashboard">
    <div class="menu">
        <ul>
            <li><a href="#" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                <mat-icon>person</mat-icon>
            </a></li>
            <li><a href="#" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                <mat-icon>group</mat-icon>
            </a></li>
            <li><a href="#" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                <mat-icon>description</mat-icon>
            </a></li>
            <li><a href="#" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                <mat-icon>folder</mat-icon>
            </a></li>
            <li><a href="#" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                <mat-icon>notifications_outline</mat-icon>
            </a></li>
            <li><a href="#" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                <mat-icon>exit_to_app</mat-icon>
            </a></li>
        </ul>
    </div>
</div>