<div class="tabs">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Investigadores">
            <mat-list>
                <mat-list-item>
                    <div class="titulo">
                        <p>Usuarios</p>
                        <p>Rol</p>
                        <p>Estado</p>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <button mat-button [matMenuTriggerFor]="belowMenu" class="rol">Below</button>
                    <mat-menu #belowMenu="matMenu" yPosition="below">
                    <button mat-menu-item>administrador</button>
                    <button mat-menu-item>Investigador</button>
                    </mat-menu>
                    <mat-slide-toggle class="align-right"></mat-slide-toggle>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <button mat-button [matMenuTriggerFor]="belowMenu" class="rol">Below</button>
                    <mat-menu #belowMenu="matMenu" yPosition="below">
                    <button mat-menu-item>Item 1</button>
                    <button mat-menu-item>Item 2</button>
                    </mat-menu>
                    <mat-slide-toggle class="align-right"></mat-slide-toggle>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <button mat-button [matMenuTriggerFor]="belowMenu" class="rol">Below</button>
                    <mat-menu #belowMenu="matMenu" yPosition="below">
                    <button mat-menu-item>Item 1</button>
                    <button mat-menu-item>Item 2</button>
                    </mat-menu>
                    <mat-slide-toggle class="align-right"></mat-slide-toggle>
                </mat-list-item>
            </mat-list>
            <div class="button-container">
                <button mat-raised-button>Estado de los investigadores</button>
            </div>
        </mat-tab>
        <mat-tab label="Proyectos">
            <mat-list>
                <mat-list-item>
                    <div class="titulo">
                        <p>Nombre proyecto</p>
                        <p>Lider proyecto</p>
                        <p>Estado</p>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <mat-slide-toggle class="align-right"></mat-slide-toggle>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <mat-slide-toggle class="align-right"></mat-slide-toggle>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <mat-slide-toggle class="align-right"></mat-slide-toggle>
                </mat-list-item>
            </mat-list>
            <div class="button-container">
                <button mat-raised-button>Estado proyectos</button>
            </div>
        </mat-tab>
        <mat-tab label="Productos">
            <mat-list>
                <mat-list-item>
                    <div class="titulo">
                        <p>Nombre producto</p>
                        <p>Lider producto</p>
                        <p>Estado</p>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <mat-slide-toggle class="align-right"></mat-slide-toggle>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <mat-slide-toggle class="align-right"></mat-slide-toggle>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <mat-slide-toggle class="align-right"></mat-slide-toggle>
                </mat-list-item>
            </mat-list>
            <div class="button-container">
                <button mat-raised-button>Estado productos</button>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
    